<svg width="2048" height="1024" viewBox="0 0 541.867 270.933" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
    <rect width="100%" height="100%" fill="#001822"/>
    <defs>
        <path id="f" d="M754.823 688.686h841.145v173.15H754.823z"/>
        <path id="e" d="M706.897 596.611h1201.29v353.906H706.897z"/>
        <path id="a" d="M691.288 457.1h684.913v148.396H691.288z"/>
        <path id="b" d="M691.288 457.1H1376.2v148.396H691.288z"/>
        <path id="c" d="M691.288 457.1H1376.2v148.396H691.288z"/>
        <path id="d" d="M691.288 457.1H1376.2v148.396H691.288z"/>
    </defs>
    <g transform="translate(-386.324 -10.304)">
        <image width="127" height="127" preserveAspectRatio="none" xlink:href="{{ hometeam.image }}" x="399.208" y="150.639"/>
        <text xml:space="preserve" transform="translate(7.25 -132.946) scale(.61094)" style="font-size:40px;line-height:1.25;font-family:'Fira Sans Condensed';word-spacing:0;white-space:pre;shape-inside:url(#a)"><tspan x="710.287" y="485.266"><tspan style="font-style:italic;font-weight:800;font-stretch:condensed;font-family:'Fira Sans Condensed';-inkscape-font-specification:'Fira Sans Condensed, Ultra-Bold Italic Condensed';fill:#fff">vs.</tspan></tspan></text>
        <image width="127" height="127" preserveAspectRatio="none" xlink:href="{{ awayteam.image }}" x="399.208" y="13.872"/>
    </g>
    <path style="fill:none;fill-opacity:1;stroke:#efefef;stroke-width:3.64100005;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:21.8460003,3.64100005;stroke-opacity:.328856;stroke-dashoffset:0" d="M163.907.988v271.578"/>
    <text xml:space="preserve" transform="translate(-455.858 -404.392) scale(.9172)" style="font-size:25px;line-height:.65;font-family:'Fira Sans Condensed';word-spacing:0;white-space:pre;shape-inside:url(#b)"><tspan x="691.287" y="481.266"><tspan style="font-style:italic;font-weight:800;font-stretch:condensed;font-family:'Fira Sans Condensed';-inkscape-font-specification:'Fira Sans Condensed, Ultra-Bold Italic Condensed';fill:#fff">{{ story.title }}
</tspan></tspan></text>
    <text xml:space="preserve" transform="translate(-213.743 -173.167) scale(.56761)" style="font-size:40px;line-height:.65;font-family:'Fira Sans Condensed';word-spacing:0;white-space:pre;shape-inside:url(#c)"><tspan x="691.287" y="481.266"><tspan style="font-weight:800;font-stretch:condensed;font-family:'Fira Sans Condensed';-inkscape-font-specification:'Fira Sans Condensed, Ultra-Bold Condensed';fill:#fff">Day {{ game.day+1 }}
</tspan></tspan></text>
    <text xml:space="preserve" transform="translate(-254.773 -26.657) scale(.62304)" style="font-size:10.9163px;line-height:1.05;font-family:'Fira Sans Condensed';word-spacing:0;white-space:pre;shape-inside:url(#d)"><tspan x="691.287" y="469.095"><tspan style="font-weight:800;font-stretch:condensed;font-family:'Fira Sans Condensed';-inkscape-font-specification:'Fira Sans Condensed, Ultra-Bold Condensed';fill:#fff">{{ game.awayTeamNickname }} logo by {{ awayteam.artist }} / {{ game.homeTeamNickname }} logo by {{ hometeam.artist }}
</tspan></tspan></text>
    <path style="fill:none;fill-opacity:1;stroke:#fff;stroke-width:1.399;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" d="M178.604 73.013h66.277"/>
    <text xml:space="preserve" transform="translate(-101.162 -193.422) scale(.39546)" style="font-size:40px;line-height:1.25;font-family:'Fira Sans Condensed';word-spacing:0;white-space:pre;shape-inside:url(#e)"><tspan x="706.896" y="632.778"><tspan style="font-weight:800;font-stretch:condensed;font-family:'Fira Sans Condensed';-inkscape-font-specification:'Fira Sans Condensed, Ultra-Bold Condensed';fill:#fff">by {{ story.author }}</tspan></tspan></text>
    <text xml:space="preserve" transform="translate(-20.009 -76.791) scale(.26458)" style="font-size:40px;line-height:1.25;font-family:'Fira Sans Condensed';word-spacing:0;white-space:pre;shape-inside:url(#f)"><tspan x="754.822" y="724.852"><tspan style="font-weight:800;font-stretch:condensed;font-family:'Fira Sans Condensed';-inkscape-font-specification:'Fira Sans Condensed, Ultra-Bold Condensed';fill:#fff">season {{ game.season+1 }}</tspan></tspan></text>
</svg>
